@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello Niranjan</h1>
    <p>Learn more about me in here <a href="https://niranjan.linkedin.com">Niranjan's Linkedin Profile for Dev works</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
